/*main page layout*/

.page h1 {
    font-size: 40pt;
    font-family: 'Times New Roman';
}

#mainheading {
    text-align: center;
}

#information {
    padding: 20px;
}

.page {
    margin-left: 15%;
    margin-right: 0;
    margin-top: 0%;
    padding: 0;
}

.container {
    padding: 0.01px 0px;
    align-content: center;
    margin: 0;
}

.container:after,
.container:before {
    content: "";
    display: table;
    clear: both
}


/*sidebar stuff*/

.sidebar {
    /* this is the layout for the sidebar*/
    height: 100%;
    width: 200px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: fixed!important;
    overflow: hidden;
    justify-content: flex-end;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.button {
    border: none;
    display: inline-block;
    padding: 16px 24px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.bar .bar-item {
    padding: 25px 50px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.bar-block .bar-item {
    width: 100%;
    display: block;
    padding: 40px 1px;
    text-align: center;
    border: none;
    white-space: normal;
    float: none;
    font-family: Arial;
    font-size: larger;
}

.light-blue,
.hover-light-blue:hover {
    color: #000!important;
    background-color: #87CEEB!important
}

.light-grey,
.hover-light-grey:hover {
    color: #000!important;
    background-color: #f1f1f1!important
}

.collapsible {
    background-color: #a1d0e2;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #34738c;
    border-radius: 10px;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
}

.active,
.collapsible:hover {
    background-color: lightblue;
}

.content {
    padding: 0 18px;
    background-color: #f1f4f7;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

html {
    scroll-behavior: smooth;
}

#stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}